<ion-header>
    <ion-toolbar>
        <img class="back_img" src="..\assets\img\返回.png" slot="start" (click)="goBack()">
        <ion-title>作业编辑</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label>作业名称:</ion-label>
                <ion-input [(ngModel)]="workInfo.name" name='name' id="name" required #name="ngModel" placeholder="必填">
                </ion-input>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-danger">
                    <div *ngIf="name.errors.required">
                        必填
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>抽题策略:</ion-label>
                <ion-select slot="end" [(ngModel)]="workInfo.tactics" id="tacticsList" name="tacticsList" required #tacticsList="ngModel" placeholder="必填">
                    <ion-select-option *ngFor="let item of workInfo.tacticsList" [value]="item.name">
                        {{item.name}}</ion-select-option>
                </ion-select>
                <div *ngIf="tacticsList.invalid && (tacticsList.dirty || tacticsList.touched)" class="alert-danger">
                    <div *ngIf="tacticsList.errors.required">
                        必填
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>开始时间：</ion-label>
                <ion-datetime display-format="YYYY-MM-DD" [pickerOptions]="customPickerOptions" id="startTime" name="startTime" required #startTime="ngModel" placeholder="必填" picker-format="YYYY MM DD" [(ngModel)]="workInfo.startTime" (ionChange)="datetimeChange($event)">
                </ion-datetime>
                <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)" class="alert-danger">
                    <div *ngIf="startTime.errors.required">
                        必填
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>结束时间：</ion-label>
                <ion-datetime display-format="YYYY-MM-DD" [(pickerOptions)]="customPickerOptions" name="endTime" required #endTime="ngModel" placeholder="必填" picker-format="YYYY MM DD" [(ngModel)]="workInfo.endTime" (ionChange)="datetimeChange($event)">
                </ion-datetime>
                <div *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)" class="alert-danger">
                    <div *ngIf="endTime.errors.required">
                        必填
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>补交截止：</ion-label>
                <ion-datetime display-format="YYYY-MM-DD" [(pickerOptions)]="customPickerOptions" name="addTime" required #addTime="ngModel" placeholder="必填" picker-format="YYYY MM DD" [(ngModel)]="workInfo.addTime" (ionChange)="datetimeChange($event)">
                </ion-datetime>
                <div *ngIf="addTime.invalid && (addTime.dirty || addTime.touched)" class="alert-danger">
                    <div *ngIf="addTime.errors.required">
                        必填
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>说 明：</ion-label>
                <ion-textarea [(ngModel)]="workInfo.explain" name="explain"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>作业互评：</ion-label>
                <ion-toggle slot="end" [(ngModel)]="workInfo.falg" name="falg"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="workInfo.falg">
                <ion-label>互评截止时间：</ion-label>
                <ion-datetime display-format="YYYY-MM-DD" [(pickerOptions)]="customPickerOptions" name="falgTime" picker-format="YYYY MM DD" [(ngModel)]="workInfo.falgTime" (ionChange)="datetimeChange($event)">
                </ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>总分：</ion-label>
                <ion-input [(ngModel)]="workInfo.score" name="score" id="score" required #score="ngModel" placeholder="必填"></ion-input>
                <div *ngIf="score.invalid && (score.dirty || score.touched)" class="alert-danger">
                    <div *ngIf="score.errors.required">
                        必填
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <ion-label>成绩展示：</ion-label>
                <ion-select slot="end" [(ngModel)]="workInfo.showGrade" id="showGradeList" name="showGradeList" required #showGradeList="ngModel" placeholder="必填">
                    <ion-select-option *ngFor="let item of workInfo.showGradeList" [value]="item.name">
                        {{item.name}}</ion-select-option>
                </ion-select>
                <div *ngIf="showGradeList.invalid && (showGradeList.dirty || showGradeList.touched)" class="alert-danger">
                    <div *ngIf="showGradeList.errors.required">
                        必填
                    </div>
                </div>
            </ion-item>

            <ion-item-divider>
                <ion-label>参数：</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let item of workInfo.parRadioList">
                <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
                <ion-label>{{item.name}}</ion-label>
            </ion-item>
        </ion-list>
        <br>
        <ion-button expand="block" (click)='signUp()' class="submit_btn">提交</ion-button>
    </ion-card>
</ion-content>