<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" slot="start" (click)="goBack()"></ion-icon>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
    <ion-item class="logo">
        <ion-img src="assets/img/hznu.png" ></ion-img>
        <!-- <p> * istudy v1.0.0 *</p> -->
    </ion-item>
  <ion-card>
    <ion-item>
      <ion-label>客服电话：0571-28865555</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>服务时间：周一到周日 08：30-16：30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>官方微博：@杭州师范大学</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>版本编号：v1.0.1</ion-label>
    </ion-item>
    
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>版权申明
      <br>Copyright@杭州师范大学604实验室
    </p>
  </ion-toolbar>
</ion-footer>
