ion-img{
    margin-left: 50px;
    text-align: center;
    width: 70%;
    height: 70%;
} 
.logo{
  text-align: center;
}

ion-title{
    font-size: 25px;
    font-weight: lighter;
}
ion-toolbar{
    text-align: center;
}