/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*自定义的全局css样式*/

// 提交按钮
.submit_btn {
    display: block;
    width: 80%;
    margin: 0 auto;
}

// 返回按钮
.back_img {
    margin-left: 15px;
}

// 添加按钮
.add_img {
    margin-right: 15px;
}

// toast 弹窗
.errToast {
    text-align: center;
}

// 表单必填验证
.alert-danger {
    color: red;
}

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 浏览器的默认字体大小是16px          16*62.5%=10px
}
// 搜索栏
.search_content {
    .search_title {
        font-size: 1.6rem;
        font-weight: bold;
        padding: .5rem 0px;
    }
    .history {
        .btn_Delete{
            font-size: 1.6rem;
            float: right;
            margin-top: -2.3rem;
        }
        p {
            padding: .5rem 0px;
            span {
                padding: .5rem;
                background: #eee;
                margin: .5rem .5rem;
                border-radius: .5rem;
                display: inline-block;
            }
        }
    }
}

/*课程管理-成绩页面*/
.content {
    width: 100%;
    height: 100%;
    display: flex;
    .leftList {
        width: 10rem;
        height: 100%;
        overflow-y: auto;
        background: #eee;
        ion-item {
            font-size: 1.3rem;
            --background: #eee;
        }
        ion-item.active {
            --background: #fff;
        }
    }
    .leftList1 {
        width: 30rem;
        height: 100%;
        overflow-y: auto;
        background: #eee;
        ion-item {
            font-size: 1.3rem;
            --background: #eee;
        }
        ion-item.active {
            --background: #fff;
        }
    }
    .rightList {
        flex: 1;
        height: 100%;
        overflow-y: auto;
    }
}
/**/