//输入原密码的图像变化
.eyehide .eye-hide, .eyeshow .eye-show{   //睁眼时的睁眼图像 ，闭眼时的闭眼图像
    display: none;
}
.eyehide .eye-show, .eyeshow .eye-hide{   //睁眼时的闭眼图像 ，闭眼时的睁眼图像
    display: block;
}

//输入密码的图像变化
.eyehide2 .eye-hide2, .eyeshow2 .eye-show2{
    display: none;
}
.eyehide2 .eye-show2, .eyeshow2 .eye-hide2{
    display: block;
}

//确认密码的图像变化
.eyehide3 .eye-hide3, .eyeshow3 .eye-show3{
    display: none;
}
.eyehide3 .eye-show3, .eyeshow3 .eye-hide3{
    display: block;
}
