<ion-header>
    <!-- <app-back [headline]="headline" [goBack]="goBack"></app-back> -->
    <ion-toolbar>
        <img class="back_img" src="..\assets\img\返回.png" slot="start" (click)="goBack(courseId)">
        <ion-title>作业批阅</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of list">
        <ion-item>
            <ion-checkbox color="danger" [(ngModel)]="item.checked" (ionChange)="checkboxChange(item.id)"></ion-checkbox>
            <ion-label>姓名:{{item.name}},学号:{{item.number}}</ion-label>
            <!-- <ion-button fill="outline" slot="end">查卷</ion-button> -->
        </ion-item>
        <ion-card-content>
            分数{{item.score}},提交时间:{{item.time}}
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start" class="checkout_info" (click)="checkAll()">
            <ion-checkbox disabled="true" color="danger" [(ngModel)]="isCheckedAll"></ion-checkbox>全选
        </ion-buttons>
        <ion-buttons slot="end" class="checkout_btn">
            <ion-button color="danger" fill="solid" (click)="readWork()">
                开始阅卷
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>