<ion-header>
    <ion-toolbar>
        <ion-title>文件上传</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="doClose()">
                <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <input type="file">
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-buttons slot="start">
                <ion-button (click)="uploadFile()">
                    <ion-icon slot="start" name="cloud-upload" color="primary"></ion-icon>
                     上传
                </ion-button>
            </ion-buttons>
        </ion-card-content>
    </ion-card>
</ion-content>