<ion-header>
    <ion-toolbar class="login_toolbar">
        <ion-item>
            <ion-title>登录</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="login_list">
        <div class="login_logo">
            <img src="assets/shapes.svg" />
        </div>
        <ion-item props='username'>
            <ion-input placeholder="账号：" type="text" [(ngModel)]="username"></ion-input>
        </ion-item><br>
        <ion-item props='password'>
            <ion-input placeholder="密码:" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <span slot="start">忘记密码</span>
            <span slot="end" [routerLink]="['/']">新用户注册</span>
        </ion-item>
        <br>
    </ion-card>
    <ion-button class="submit_btn" expand="block" name="login" type='submit' (click)="login()">登录</ion-button>

</ion-content>