<ion-header>
    <ion-toolbar>
        <img class="back_img" src="..\assets\img\返回.png" slot="start" (click)="goBack()">
        <ion-title>课程管理</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item href="/student/{{id}}">
            <ion-icon name="people" slot="start" color="primary"></ion-icon>
            <ion-label>学生列表</ion-label>
        </ion-item>
        <ion-item href="/work/{{id}}">
            <ion-icon name="map" slot="start" color="primary"></ion-icon>
            <ion-label>作业列表</ion-label>
        </ion-item>
        <ion-item href="/lab/{{id}}">
            <ion-icon name="cube" slot="start" color="primary"></ion-icon>
            <ion-label>实验列表</ion-label>
        </ion-item>
        <ion-item href="/exercise/{{id}}">
            <ion-icon name="document" slot="start" color="primary"></ion-icon>
            <ion-label>练习列表</ion-label>
        </ion-item>
        <ion-item href="/resource/{{id}}">
            <ion-icon name="folder-open" slot="start" color="primary"></ion-icon>
            <ion-label>课程资源</ion-label>
        </ion-item>
        <ion-item href="/drawplots-list/{{id}}">
            <ion-icon name="create" slot="start" color="primary"></ion-icon>
            <ion-label>试卷管理</ion-label>
        </ion-item>
        <ion-item href="/workgrade/{{id}}">
            <ion-icon name="paper" slot="start" color="primary"></ion-icon>
            <ion-label>作业成绩</ion-label>
        </ion-item>
        <ion-item href="/labgrade/{{id}}">
            <ion-icon name="podium" slot="start" color="primary"></ion-icon>
            <ion-label>实验成绩</ion-label>
        </ion-item>
        <ion-item href="/testgrade/{{id}}">
            <ion-icon name="school" slot="start" color="primary"></ion-icon>
            <ion-label>考试成绩</ion-label>
        </ion-item>
        <ion-item href="/grades/{{id}}">
            <ion-icon name="trending-up" slot="start" color="primary"></ion-icon>
            <ion-label>成绩汇总</ion-label>
        </ion-item>
        <ion-item href="/print/{{id}}">
            <ion-icon name="print" slot="start" color="primary"></ion-icon>
            <ion-label>考试打印</ion-label>
        </ion-item>
        <br>
    </ion-card>
</ion-content>