<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>课程管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item href="/student/{{id}}">
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-label>学生列表</ion-label>
    </ion-item>
    <ion-item href="/work/{{id}}">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>作业列表</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>练习列表</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>作业成绩</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>实验成绩</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>考试成绩</ion-label>
    </ion-item>
    <br>
  </ion-card>
</ion-content>