<ion-header>
    <ion-toolbar>
        <img class="back_img" src="..\assets\img\返回.png" slot="start" (click)="goBack()">
        <ion-title>作业成绩</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="请输入搜索的内容" animated></ion-searchbar>
    <!-- 成绩列表 -->
    <ion-list>
        <ion-item *ngFor="let item of grandeList">
            <ion-label>{{item}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载更多数据...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>