<ion-header>
    <ion-toolbar>
        <img class="back_img" src="..\assets\img\返回.png" slot="start" (click)="goBack()">
        <ion-title>作业成绩</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="请输入搜索的内容" animated></ion-searchbar>
    <!-- 成绩列表 -->
    <div class="content">
        <div class="leftList">
            <ion-list lines="full">
                <ion-item *ngFor="let item of leftList" (tap)="getLeftData(item._id)" [ngClass]="{'active': item._id==selectedId}">
                    <ion-label>{{item}}</ion-label>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载更多数据...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div class="rightList">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>学号：</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <ion-label> 姓名：</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 班级： </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 性别： </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 文秘类作业1： </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 作业1：</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 作业2：</ion-label>
                    </ion-item>
                    <br>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>