<ion-header>
    <ion-toolbar>
        <img class="back_img" src="..\assets\img\返回.png" slot="start" (click)="goBack()">
        <ion-title>作业成绩</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar style="margin-top: 1rem;">
        <ion-searchbar placeholder="请输入搜索关键词" [(ngModel)]="keywords">
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button (click)="doSearch()" color="dark">
                搜索
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!-- 历史记录 -->
    <!-- <div class="search_content" *ngIf="flag && workGradeHistory.length>0" padding >
        <div class="history">
            <h5 class="search_title">历史记录</h5>
            <div class="btn_Delete">
                <ion-icon name="trash" slot="end" color="danger" (click)="deleteHistory(workGradeHistory)"></ion-icon>
            </div>
            <p>
                <span *ngFor="let item of workGradeHistory;let key=index;" (press)="removeHistory(key)" (tap)="goSearch(item)"> 
                  {{item}}
                </span>
            </p>
        </div>
    </div> -->
    <!-- 成绩列表 -->
    <div class="content">
        <div [class]="LeftStyle" (swipeleft)="leftSlide()" (swiperight)="rightSlide()">
            <ion-list lines="full">
                <ion-item *ngFor="let item of leftList" (tap)="getLeftData(item.id)" [ngClass]="{'active': item.id==selectedId}">
                    <ion-label>学号：{{item.userName}}  姓名：{{item.realName}}</ion-label>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll threshold="25%" (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载更多数据...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <p *ngIf="!hasmore">---我是有底线的---</p>
        </div>
        <div class="rightList">
            <ion-card>
                <ion-card-content>
                    <!-- <ion-item ng-repeat="item in rightList">
                        <ion-label>  {{item}}:{{item.value}}</ion-label>
                    </ion-item> -->
                    <ion-item> 
                        <ion-label> 姓名：</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 班级： </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 性别： </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 文秘类作业1： </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 作业1：</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label> 作业2：</ion-label>
                    </ion-item>
                    <br>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>