<ion-header>
    <ion-toolbar>
        <img class="back_img" src="..\assets\img\返回.png" slot="start" (click)="goBack(courseId)">
        <ion-title>作业列表</ion-title>
        <img class="add_img" src="..\assets\img\添加.png" (click)="addWork(courseId)" slot="end">
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 搜索框 -->
    <ion-searchbar [(ngModel)]="workList.name" (ionInput)="getItems($event)" (ionFocus)="focusInput()" (ionBlur)="blurInput()" (ionClear)="cancel($event)" placeholder="请输入作业名称" showCancelButton="focus" cancelButtonText="取消" (tap)="goSearch()">
    </ion-searchbar>

    <!-- 作业列表 -->
    <ion-card>
        <ion-list *ngFor="let item of workList" key="item.id">
            <ion-item-sliding>
                <ion-item (press)="deleteWork(item.id)" (tap)="readWork(item.id)">
                    <ion-icon name="book" color="secondary"></ion-icon>{{item.name}}
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="success" (click)="editWork(item.id)">编辑</ion-item-option>
                    <ion-item-option color="danger" (click)="deleteWork(item.id)">删除</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list><br>
    </ion-card>
</ion-content>