.upload {
   font-size: 2rem;
   margin-right: 1.6rem;
}

.resource {
    margin-bottom: 1rem;
}

.resource_src {
    width: 60%;
    height: 60%;
    margin-left: 20%;
}

.resource_name {
    text-align: center;
}