.input_content{
    height: 240px;
}
p{
    padding: .4rem 0px;
    span {
        padding: .4rem;
        background: #eee;
        margin: .4rem .4rem;
        border-radius: .4rem;
        display: inline-block;
    }
}