<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)="doClose()">
              <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>回复邮件</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-item>
          <ion-label> 收件人: </ion-label>
          <ion-input [(ngModel)]="receive_realName">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-label> 主题：</ion-label>
          <ion-input type="text" [(ngModel)]="emailDetail.subject" > </ion-input>
          <ion-icon name="bookmark" slot="end" color="danger" *ngIf="emailDetail.isImportant == true" (click)="beNoImportant()"></ion-icon>  
          <ion-icon name="bookmark" slot="end" color="medium" *ngIf="emailDetail.isImportant == false" (click)="beImportant()"></ion-icon>  
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="emailDetail.body" rows="10" class="input_content"> 
        </ion-textarea>
      </ion-item>
      <ion-item>
          <ion-card-header>
            <ion-card-subtitle>
                <input type="file">
            </ion-card-subtitle>
        </ion-card-header>
      </ion-item>
  </ion-card>
  <ion-button class="submit_btn" expand="full" (click)="submit()">提交</ion-button>
</ion-content>