.content {
    width: 100%;
    height: 100%;
    display: flex;
    .leftList {
        width: 10rem;
        height: 100%;
        overflow-y: auto;
    }
    .rightList {
        flex: 1;
        height: 100%;
        overflow-y: auto;
    }
    .btn_print {
        height: 3rem;
        margin-left: 3rem;
    }
}