<ion-header>
    <ion-toolbar>
        <ion-title>
            信息
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 搜索框 -->
    <ion-searchbar showCancelButton="focus" cancelButtonText="取消" anmiated></ion-searchbar>
    <!-- 邮件列表-->
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="..\assets\img\index.svg">
            </ion-avatar>
            <ion-label>
                <!-- 发件人 -->
                <h2>发件人</h2>
                <!-- 主题 -->
                <h3>邮件主题</h3>
                <!-- 内容 -->
                <p>邮件内容...</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img src="..\assets\img\index.svg">
            </ion-avatar>
            <ion-label>
                <!-- 发件人 -->
                <h2>发件人</h2>
                <!-- 主题 -->
                <h3>邮件主题</h3>
                <!-- 内容 -->
                <p>邮件内容...</p>
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>