<ion-header>
    <ion-toolbar>
        <ion-title>
            信息
        </ion-title>
        <ion-icon slot="end" name="create" (click)="addEmail()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 搜索框 -->
    <!-- <ion-searchbar showCancelButton="focus" cancelButtonText="取消" anmiated></ion-searchbar> -->
    <ion-toolbar style="margin-top: 1rem;">
        <ion-searchbar placeholder="请输入搜索关键词" [(ngModel)]="keywords" (ionFocus)="focusInput()" (ionBlur)="blurInput()"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button (click)="doSearch()" color="dark">
                搜索
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!-- 历史记录 -->
    <div class="search_content" *ngIf="flag && historyList.length>0 " padding>
        <div class="history">
            <h5 class="search_title">历史记录</h5>
                <div class="btn_Delete">
                    <ion-icon name="trash" slot="end" color="danger" (click)="deleteHistory(historyList)"></ion-icon>
                </div>
                <p>
                <span *ngFor="let item of historyList;let key=index;" (press)="removeHistory(key)" (tap)="goSearch(item)"> 
                  {{item}}
                </span>
            </p>
        </div>
    </div>
   
    <!-- 邮件列表-->
    <ion-card >
        <ion-item *ngIf="iskong == true">
            <ion-label>您暂时还没有邮件呢~</ion-label>
        </ion-item>    
    <!-- 显示置顶邮件 -->
    <ion-list *ngFor="let item of emailList" key="item.id">
      <ion-item-sliding *ngIf="item.flag == true">
        <ion-item color="light">
            <ion-avatar slot="start">
                <img [src]="item.sender_img">
            </ion-avatar>
            <ion-label (press)="delete(item.id)" (tap)="checkEmail(item.id)"> 
                <!-- 发件人 -->
                <h2>{{item.sender_name}}</h2>
                <!-- 主题 -->
                <h3>{{item.theme}}</h3>
                <!-- 内容 -->
                <p>{{item.text}}</p>
            </ion-label >
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option color="success" (click)="deletehead(item.id)">取消置顶</ion-item-option>
            <ion-item-option color="medium" (click)="delete(item.id)">删除</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- 显示未置顶邮件 -->
    <ion-list *ngFor="let item of emailList" key="item.id">
      <ion-item-sliding *ngIf="item.flag == false">
        <ion-item >
            <ion-avatar slot="start">
                <img [src]="item.sender_img">
            </ion-avatar>
            <ion-label (press)="delete(item.id)" (tap)="checkEmail(item.id)"> 
                <!-- 发件人 -->
                <h2>{{item.sender_name}}</h2>
                <!-- 主题 -->
                <h3>{{item.theme}}</h3>
                <!-- 内容 -->
                <p>{{item.text}}</p>
            </ion-label>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option color="success" (click)="puthead(item.id)">置顶</ion-item-option>
            <ion-item-option color="medium" (click)="delete(item.id)">删除</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    </ion-card>

</ion-content>