<ion-header>
    <ion-toolbar>
        <ion-title>
            {{userInfo.username}}的邮件
        </ion-title>
        <img class="add_img" src="..\assets\img\添加.png" (click)="addEmail()" slot="end">
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
        <ion-item  [routerLink]="[ '/inbox']">
            <ion-icon slot="start" name="mail" color="warning"></ion-icon>
            <ion-label>收件箱</ion-label>
        </ion-item>
        <ion-item-divider>
            <ion-label>应用</ion-label>
        </ion-item-divider>
        <ion-item >
            <!-- 列表单项里面增加图标 -->
            <ion-icon slot="start" name="people" color="danger"></ion-icon>
            <ion-label>通讯录</ion-label>
        </ion-item>
        <ion-item-divider>
            <ion-label>文件夹</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-icon slot="start" name="send" color="secondary"></ion-icon>
            <ion-label>已发送</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="trash" color="medium"></ion-icon>
            <ion-label>已删除</ion-label>
        </ion-item>
    </ion-list>
  </ion-card>
</ion-content>